<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="/css/style.css" rel="stylesheet">
      <link href="/img/weather.png" rel="icon">
      
    <title>Weather</title>
</head>
<body>
  <div class="main-content">
{{>header}}
<p>Use this site to get your weather</p>
<form>
  <input placeholder="location">
  <button>Search</button>
</form>
<p id="message-1"></p>
<p id="message-2"></p>
<table>
 
  <tr>
    <td>City</td>
    <td ><p id="city"></p></td>
   
  </tr>
  <tr>
    <td>Current Temperature &#8451;</td>
    <td ><p id="temp"></p></td>
   
  </tr>
  <tr>
    <td>Rain Chance(%)</td>
    <td ><p id="rain"></p></td>
    
  </tr>
  <tr>
    <td>Weather Type</td>
    <td ><p id="weather"></p></td>
   
  </tr>
  <tr>
    <td>Humidity</td>
    <td ><p id="humidity"></p></td>
   
  </tr>
  <tr>
    <td>Wind speed(Direction)</td>
    <td ><p id="speed"></p></td>
    
  </tr>
</table>
  </div>
  
  {{>footer}}
  <script src="/js/app.js"></script>
</body>
</html>